@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>


<br />
<a href="https://web.whatsapp.com/send?phone=5555991141007">
    <img src=https://localhost:44353/Images/telefone.png style="width:42px;height:42px;">
</a><p>(55)991-141007</p>

<br />
<br />
<a href="mailto:rodrigomarques.debem@gmail.com">
    <img src=https://localhost:44353/Images/email.webp style="width:42px;height:42px;">
</a><p>rodrigomarques.debem@gmail.com</p>

<br />
<br />
<a href="https://www.linkedin.com/in/rodrigomarquesdebem">
    <img src=https://localhost:44353/Images/linkedin.png style="width:42px;height:42px;">
</a><p>www.linkedin.com/in/rodrigomarquesdebem</p>

<br />
<br />
<a href="https://www.behance.net/rodrigomarquesdebem">
    <img src=https://localhost:44353/Images/behance.png style="width:42px;height:42px;">
</a><p>www.behance.net/rodrigomarquesdebem</p>

<br />
<br />
<a href="https://github.com/RodrigodeBem7">
    <img src=https://localhost:44353/Images/github.png style="width:48px;height:42px;">
</a><p>https://github.com/RodrigodeBem7</p>