@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <h2>Cadastre doutores, especializações da Medicina e consultas</h2>
</div>

<center>
    <img src=https://localhost:44353/Images/time2.png object-fit:cover style="width:550px;height:600px;" />
</center>
